:root {
	--faded-blue: #7fbbb3;
	--faded-aqua: #83c092;
	--faded-green: #a7c080;
	--faded-yellow: #dbbc7f;
	--faded-orange: #e69875;
	--faded-red: #e67e80;
	--light-blue: #5a93a2;
	--light-aqua: #569d79;
	--light-green: #899c40;
	--light-yellow: #bf983d;
	--light-orange: #f57d26;
	--light-red: #f85552;
}

body {
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 4px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 12px;
	--radius-xl: 16px;
	--status-bar-radius: 8px;
	--inline-title-size: 32px;

	--list-marker-color: #b0b0b0;
	--list-bullet-size: 0.3rem;
	--list-spacing: 4px;
}

.theme-dark {
	--h1-color: var(--faded-blue);
	--h2-color: var(--faded-aqua);
	--h3-color: var(--faded-green);
	--h4-color: var(--faded-yellow);
	--h5-color: var(--faded-orange);
	--h6-color: var(--faded-red);

	--text-highlight-bg: dodgerblue;
	--background-primary: var(--background-secondary);
	--background-secondary: #151515;

	--ribbon-background: var(--background-secondary);
	--divider-color: #292929;
	--status-bar-background: var(--background-secondary);
	--titlebar-background: var(--background-secondary);
	--titlebar-background-focused: var(--background-secondary);

	.hr hr {
		background-color: #444a4f;
	}

	.cm-s-obsidian span.cm-highlight,
	.markdown-rendered mark {
		font-weight: bold;
		color: black;
	}
	.theme-dark .search-result-file-matched-text {
		color: black;
	}

	.workspace-tab-header.is-active .workspace-tab-header-inner {
		margin-top: 2px;
		background-color: #212121;
		border-bottom: var(--light-blue) 2px solid;
	}

	.workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
		background-color: #181818;
	}
}

.theme-light {
	--h1-size: 34px;
	--h2-size: 26px;
	--h3-size: 24px;
	--h1-color: var(--light-blue);
	--h2-color: var(--light-aqua);
	--h3-color: var(--light-green);
	--h4-color: var(--light-yellow);
	--h5-color: var(--light-orange);
	--h6-color: var(--light-red);

	--text-highlight-bg: #ffbfb8;
	--font-text-size: 18px;
	--inline-title-size: 32px;

	--divider-color: transparent;

	--background-primary: var(--background-secondary);
	--background-secondary: #fff;

	--ribbon-background: var(--background-secondary);
	--status-bar-background: var(--background-secondary);
	--titlebar-background: var(--background-secondary);
	--titlebar-background-focused: var(--background-secondary);

	.side-dock-actions,
	.nav-buttons-container {
		background-color: #f7f7f7;
		border-radius: 16px;
	}

	.hr hr {
		background: linear-gradient(to right, #83c092, #dbbc7f);
	}

	.workspace-tab-header.is-active .workspace-tab-header-inner {
		margin-top: 2px;
		background-color: #f1f1f1;
		border-bottom: var(--light-blue) 2px solid;
	}

	.workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
		background-color: #f5f5f5;
	}
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.todo-list {
	background-color: var(--background-secondary);
}

.workspace-tab-header {
	border-radius: 8px 8px 0px 0px;
}

.side-dock-actions,
.nav-buttons-container {
	background-color: #151515;
	border-radius: 16px;
}

.side-dock-actions {
	padding-top: 8px;
	padding-bottom: 8px;
}

.nav-buttons-container {
	padding-top: 2px;
	padding-bottom: 2px;
}

.titlebar-button {
	border-radius: 8px;
}

.dropdown,
.modal,
button {
	border-radius: 8px;
}

.modal {
	border-color: var(--divider-color);
}

.status-bar {
	bottom: 4px;
	right: 16px;
}

/* ============= Callout Customization ============ */

/* .callout[data-callout="note"]{
	background-color: #0d5c56;
} */

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 8px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.cm-content {
	margin: 0px 32px 0px 0px;
}

.cm-formatting-list {
	margin: 0px;
}

.hr hr {
	border: none;
	height: 2px;
	margin: 1.5em 0;
	border-radius: 4px;
}

th * {
	font-weight: bold;
	color: white;
	text-align: center;
}

thead {
	background-color: #353535;
}

.table-wrapper {
	border-radius: 8px;
	overflow: hidden;
}

/* Bold in live edit */
.cm-strong {
	color: #d7815f !important;
	font-weight: 700;
}

/* Italic in live edit */
.cm-em {
	color: #d7815f !important;
	font-style: italic;
}

/* Bold+Italic combined */
.cm-strong.cm-em {
	color: #ff7700 !important; /* distinct color for bold+italic */
}

.cm-editor{
	margin-top: 64px;
}

.inline-title{
	margin-bottom: 16px;
}
