.theme-dark {
	--background-primary: #181818;
	--background-secondary: #181818;
	--ribbon-background: #181818;
	--status-bar-background: #181818;
	--titlebar-background: #181818;
	--titlebar-background-focused: #181818;

	--h1-color: #d2a8ff;
	--h2-color: #bb80ff;
	--h3-color: #a371f7;
	--h4-color: #8b5cf6;
	--h5-color: #7c3aed;
	--h6-color: #6d28d9;
}

.theme-light {
	--background-primary: #fff;
	--background-secondary: #fff;
	--ribbon-background: #fff;
	--status-bar-background: #fff;
	--titlebar-background: #fff;
	--titlebar-background-focused: #fff;

	--h1-color: #6d28d9;
	--h2-color: #7c3aed;
	--h3-color: #8b5cf6;
	--h4-color: #a371f7;
	--h5-color: #bb80ff;
	--h6-color: #d2a8ff;
}

h1 { color: var(--h1-color); }
h2 { color: var(--h2-color); }
h3 { color: var(--h3-color); }
h4 { color: var(--h4-color); }
h5 { color: var(--h5-color); }
h6 { color: var(--h6-color); }
